/* All HTML elements are spaced apart by a margin of 10px */
* {
  margin: 10px;
}

/* Specs for page header */
h1 {
  background-color: orange;
  font-size: 30px;
  -webkit-text-fill-color: white;
  padding: 10px;
}

/* Specs for the instruction box */
#instructions {
  padding: 10px;
  margin: 10px;
  text-emphasis: bold;
  background-color: lightskyblue;
  display: inline-block;
}

/* Specs for the four crystal buttons */
.inline {
  display: flex;
}

/* Specs for the box displaying the randomly generated value */
#randomValue {
    position: absolute;
    bottom: 70px;
    left: 10px;
    width: 310px;
    height: 80px;
    background-color: yellow;
}

/* Specs for the box displaying the user's Win/Loss record */
#winLossRecord {
    position: absolute;
    bottom: 70px;
    left: 330px;
    width: 310px;
    height: 80px;
    background-color: green;
}

/* Specs for the box displaying the user's total score */
#totalScoreCount {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 630px;
    height: 40px;
    background-color: red;
}



